<section class="header">
  <h4>sandwich-app</h4>
  <div class="logo"></div>
</section>
<section class="main">
  <form action="POST" class="login-form">
    <h4 class="form-title">Inicia sesión</h4>
    <fieldset>
      <label for="email" class="email-label">Email</label>
      <input
        type="text"
        name="email"
        class="input-email"
        placeholder="email@example.com"
      />
      <label for="password" class="label-password">Contraseña</label>
      <input
        type="text"
        name="password"
        class="password-input"
        placeholder="************"
      />
    </fieldset>
    <button type="submit" class="submit-user">Iniciar sesión</button>
  </form>
  <a href="" class="register">Registrate</a>
  <a href="./">¿Has olvidado tu contraseña?</a>
</section>
<section class="footer"><h5>App de SistusBySistus 2023</h5></section>
