<section class="home-screen">
    <h1 class="home-screen_main-title">¿Qué sandwich te deparará hoy?</h1>
    <input type="text" placeholder="Busca un ingrediente" class="home-screen_search-input"/>
    <div class="home-screen_btn-group">
        <button class="home-screen_btn"><img src="../../../assets/images/icons/plant_icon.svg" alt=""/>Vegano</button>
        <button class="home-screen_btn"><img src="../../../assets/images/icons/gluten_free.svg" alt=""/> Sin gluten</button>
        <button class="home-screen_btn"><img src="../../../assets/images/icons/high_protein.svg" alt=""/> Alto en proteína</button>
    </div>
    <section class="home-screen_item">
        <div class="home-screen_item-title">
            <h2>Tostadas</h2>
            <a href="/#">Ver todo</a>
        </div>
        <ul class="home-screen_item-list">
            <li>
                <img src="http://placekitten.com/200/300" class="home-screen_item-list-img" alt=""/>
                <h3>Aguacate y queso tierno</h3>
            </li>
            <li>
                <img src="http://placekitten.com/200/300" class="home-screen_item-list-img" alt=""/>
                <h3>Aguacate y queso tierno</h3>
            </li>
            <li>
                <img src="http://placekitten.com/200/300" class="home-screen_item-list-img" alt=""/>
                <h3>Aguacate y queso tierno</h3>
            </li>
        </ul>
    </section>
</section>
